<small>{{formattedStart}}-{{formattedEnd}}</small>
<h3>{{session.name}}</h3>
{{#if session.speakers}}
  <ul class="speakers">
    {{#each session.speakers as |speaker|}}
      <li>{{speaker}}</li>
    {{/each}}
  </ul>
{{/if}}
