<footer
  ...attributes
  class={{if this.isDismissed "is-dismissed"}}
>
  <p>Curious what's going on here?</p>
  <p>
    <a href="https://github.com/Addepar/emberconf-schedule-2019" target="_blank" rel="noopener" aria-label="GitHub">
      Check out the code on GitHub!
    </a>
  </p>
  <button class="close" {{on "click" (action (mut this.isDismissed) true)}}>&times;</button>
</footer>
