// Colors
$background: #e8edf1;
$header: #001d36;
$session: white;
$description: #40586e;

html, body {
  position: fixed;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $header;
  background: $background;
}

body > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 0 auto;
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-top: calc(env(safe-area-inset-top) + 0.5rem);
  padding-left: calc(env(safe-area-inset-left) + 1rem);
  padding-right: calc(env(safe-area-inset-right) + 1rem);
  background: $header;

  a {
    line-height: 0;
  }
  svg {
    height: 3rem;
    width: auto;
  }
}

h2 {
  margin: 0;
  padding: 1rem;
  padding-left: calc(env(safe-area-inset-left) + 1rem);
  padding-right: calc(env(safe-area-inset-right) + 1rem);
  text-align: center;
}

.session {
  margin: 0.125rem 0.5rem;
  margin-left: calc(env(safe-area-inset-left) + 0.5rem);
  margin-right: calc(env(safe-area-inset-right) + 0.5rem);
  padding: 1rem;
  background: $session;

  small {
    display: block;
    margin-bottom: 0.25rem;
  }

  h3 {
    margin: 0;
  }

  ul.speakers {
    list-style-type: none;
    margin-top: 0.25rem;
    margin-bottom: 0;
    padding: 0;

    li {
      display: inline-block;
      color: rgba($description, 0.7);

      &:after {
        content: ' · ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  .description {
    margin-top: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.15s ease-out, margin-top;
    transition-delay: 0s, 0.15s;

    p {
      margin: 0;
      color: $description;
      white-space: pre-line;
    }
  }

  ul.minitalks {
    list-style-type: none;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-left: 1rem;

    li {
      padding: 0.25rem 0;
      border-bottom: solid 1px rgba($description, 0.3);

      .minitalk-title {
        font-weight: bold;
      }
      .minitalk-speaker {
        color: rgba($description, 0.7);
      }

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }

  &.is-break {
    background: transparent;
  }

  &.is-expanded {
    .description {
      max-height: 100rem;
      margin-top: 0.5rem;
      transition: max-height 0.3s ease-in;
      transition-delay: 0s;
    }
  }
}
