// Colors
$background: #e8edf1;
$header: #001d36;

html, body {
  position: fixed;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: $background;
}

body > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 0 auto;
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  padding-top: calc(env(safe-area-inset-top) + 15px);
  background-color: $header;

  a {
    line-height: 0;
  }
  svg {
    height: 45px;
    width: auto;
  }
}

h2 {
  margin: 0;
  padding: 15px;
  padding-left: calc(env(safe-area-inset-left) + 15px);
  padding-right: calc(env(safe-area-inset-right) + 15px);
  text-align: center;
  color: $header;
}
