{{#each days as |day index|}}
  {{conference-day
    day=day
    index=index
    now=now
  }}
{{/each}}

<h2 class="github">
  <a href="https://github.com/201-created/emberconf-schedule-2018" target="_blank" rel="noopener" aria-label="GitHub">
    {{icon-github}}
  </a>
</h2>
