{{#each days as |day index|}}
  {{conference-day
    day=day
    index=index
    now=now
  }}
{{/each}}

<div class="github">
  <a href="https://github.com/201-created/emberconf-schedule-2018" target="_blank" rel="noopener" aria-label="GitHub">
    {{icon-github}}
    <strong>Curious what's going on here?</strong>
    Check out the code on GitHub!
  </a>
</div>
