// Colors
$background: #e8edf1;
$header: #001d36;
$session: white;
$description: #40586e;
$ember: #e15d44;
$github: #24292e;
$footer-link: #ffbf5e;

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $header;
  background: $background;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-top: calc(env(safe-area-inset-top) + 0.5rem);
  padding-left: calc(env(safe-area-inset-left) + 1rem);
  padding-right: calc(env(safe-area-inset-right) + 1rem);
  background: $header;

  a {
    display: block;
    line-height: 0;
    width: 5rem;
    background-color: transparent;

    &:last-child {
      text-align: right;
    }
  }
  svg {
    height: 3rem;
    width: auto;
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
    color: white;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
  padding-left: calc(env(safe-area-inset-left) + 1rem);
  padding-right: calc(env(safe-area-inset-right) + 1rem);
  background: $header;
  text-align: center;
  transition: bottom 0.3s ease-out;

  p {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
    font-weight: bold;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;
    padding: 0.5em;
    background: $ember;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
  }

  button.close {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    right: calc(env(safe-area-inset-right) + 0.5rem);
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: none;
  }

  &.is-dismissed {
    bottom: -10rem;
  }
}

h2 {
  margin: 0;
  padding: 1rem;
  padding-left: calc(env(safe-area-inset-left) + 1rem);
  padding-right: calc(env(safe-area-inset-right) + 1rem);
  text-align: center;
}

.content {
  padding-top: 4rem;
  padding-top: calc(env(safe-area-inset-top) + 4rem);
  padding-bottom: 1rem;
  padding-bottom: env(safe-area-inset-bottom);
}

.session {
  margin: 0.125rem 0.5rem;
  margin-left: calc(env(safe-area-inset-left) + 0.5rem);
  margin-right: calc(env(safe-area-inset-right) + 0.5rem);
  padding: 1rem;
  background: $session;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
  }

  small {
    font-size: 80%;
    display: block;
    margin-bottom: 0.25rem;
  }

  h3 {
    margin: 0;
  }

  ul.speakers {
    list-style-type: none;
    margin-top: 0.25rem;
    margin-bottom: 0;
    padding: 0;

    li {
      display: inline-block;
      color: $description;

      &:after {
        content: ' · ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  .description {
    margin-top: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.15s ease-out, margin-top;
    transition-delay: 0s, 0.15s;

    p {
      margin: 0;
      color: $description;
      white-space: pre-line;
    }
  }

  ul.minitalks {
    list-style-type: none;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-left: 1rem;

    li {
      padding: 0.25rem 0;
      border-bottom: solid 1px rgba($description, 0.3);

      small {
        font-size: 80%;
        margin-bottom: 0;
      }
      h4 {
        margin: 0;
      }
      p {
        color: rgba($description, 0.7);
      }

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }

  &.is-now {
    outline: solid 2px $ember;
  }

  &.is-past {
    background: rgba($session, 0.4);
  }

  &.is-break {
    background: transparent;
  }

  &.is-expanded {
    .description {
      max-height: 50rem;
      margin-top: 0.5rem;
      transition: max-height 0.3s ease-in;
      transition-delay: 0s;
    }
  }
}

.github {
  svg {
    width: 2rem;
    height: 2rem;
    fill: rgba($github, 0.7);
  }
}
