<header>
  <a href="https://emberconf.com" target="_blank" rel="noopener" aria-label="EmberConf">
    {{icon-emberconf}}
  </a>
  <h1>Schedule</h1>
  <a href="https://addepar.com/careers/" target="_blank" rel="noopener" aria-label="Addepar">
    {{icon-addepar}}
  </a>
</header>

{{footer-prompt}}

<div class="content">
  {{outlet}}
</div>
