<p>Curious what's going on here?</p>
<p>
  <a href="https://github.com/201-created/emberconf-schedule-2018" target="_blank" rel="noopener" aria-label="GitHub">
    Check out the code on GitHub!
  </a>
</p>
<button class="close" {{action (mut isDismissed) true}}>&times;</button>
