<header>
  <a href="https://emberconf.com" target="_blank" rel="noopener" aria-label="EmberConf">
    <Icons::Emberconf />
  </a>
  <h1>Schedule</h1>
  <a href="https://addepar.com/careers/" target="_blank" rel="noopener" aria-label="Addepar">
    <Icons::Addepar />
  </a>
</header>

<FooterPrompt />

<div class="content">
  {{outlet}}
</div>
