<header>
  <a href="https://emberconf.com" target="_blank">
    {{svg-jar "emberconf"}}
  </a>
  <a href="https://www.201-created.com/" target="_blank">
    {{svg-jar "201-created"}}
  </a>
</header>

{{outlet}}
