<header>
  <a href="https://emberconf.com" target="_blank" rel="noopener">
    {{svg-jar "emberconf"}}
  </a>
  <h1>Schedule</h1>
  <a href="https://www.201-created.com/" target="_blank" rel="noopener">
    {{svg-jar "201-created"}}
  </a>
</header>
<div class="content">
  {{outlet}}
</div>
