{{#each this.days as |day index|}}
  <ConferenceDay
    @day={{day}}
    @index={{index}}
    @now={{this.now}}
  />
{{/each}}

<div class="github">
  <a href="https://github.com/201-created/emberconf-schedule-2018" target="_blank" rel="noopener" aria-label="GitHub">
    <Icons::Github />
    <strong>Curious what's going on here?</strong>
    Check out the code on GitHub!
  </a>
</div>
